@model IEnumerable<Tickets.Events.EventModel>

@foreach (var eventModel in Model)
{
    <div class="event"
         hx-get="/tickets/events/@eventModel.Event_Id/sectors"
         hx-target="#sector-list"
         hx-trigger="click"
         style="cursor: pointer;">
        <h4>@eventModel.Event_Name</h4>
        <p>@eventModel.Event_Date.ToString("f")</p>
    </div>
}

<div id="sector-list">
</div>

<script>
        (function() {
            const eventElements = document.querySelectorAll('.event');

            eventElements.forEach(eventElement => {
                eventElement.addEventListener('click', function() {
                    eventElements.forEach(elem => elem.classList.remove('selected-event'));
                    this.classList.add('selected-event');
                });
            });
    })();
</script>

<style>
    
.selected-event {
    border: 2px solid #007bff; /* Blue border */
    border-radius: 5px;
    padding: 5px;
}
</style>