@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">My event</h1>

    <div id="seat-container" hx-get="/seats/1" hx-trigger="load">
    </div>
    
</div>