@page
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">My reservation system</h1>
</div>

<h2>Nearest events:</h2>
<div id="event-list"
     hx-get="/tickets/events"
     hx-trigger="load">
</div>